<div class="jumbotron">
<h1>Hello</h1>
<h2>This is my home page and it's gonna be cool</h2>

<%= link_to 'About Us', home_about_path, class: 'btn btn-default btn-lg'%>
<%= link_to 'Home', root_path, class: 'btn btn-primary'%>

</div>

